<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

    <title>Confirm Delete</title>
  </head>
  <body>
    <div class="container">
        <h1>Confirm Deletion</h1>
        <hr>
        <h3>Are you sure you want to delete this employee?</h3>
        <div class="my-4">
          <p><strong>Name:</strong> {{ emp.first_name }} {{ emp.last_name }}</p>
          <p><strong>Email:</strong> {{ emp.email }}</p>
          <p><strong>Phone:</strong> {{ emp.phone_number }}</p>
          <p><strong>Address:</strong> {{ emp.address }}</p>
          <p><strong>Date of Birth:</strong> {{ emp.Date_Of_Birth }}</p>
        </div>
        <hr>
        <form action="{% url 'delete_emp' emp.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'delete_emp' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
  </body>
</html>